<div class="two-sides">
  <div class="left-side">
    <p *ngFor="let experience of experiences;index as i" (mouseenter)="onMouseEnterIn(i)" (mouseleave)="onMouseLeaveFrom(i)"  [ngClass]="{'selected': i == selected}">
      {{ experience.name }}
    </p>
  </div>
  <div class="divider">

  </div>
  <div class="right-side">
    <div *ngFor="let experience of experiences;index as i">
      <div  *ngIf="i == selected">
        <img *ngIf="experience.logo" src="{{ experience.logo }}" alt="">
        <p class="">
          {{ experience.company }}
        </p>
        <p class="">
          {{ experience.start_date }} >> {{ experience.end_date }}
        </p>
        <p class="">
          {{ experience.description }}
        </p>
    </div>
  </div>
</div>
