$primary-color: green;

@mixin lyric-terminal-style($size, $weight) {
  font-size: $size;
  font-weight: $weight;
  color: $primary-color;
}

*::-webkit-input-placeholder {
    color: $primary-color;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: $primary-color;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: $primary-color;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: $primary-color;
}

*:focus {
    outline: none;
}

.two-sides{
  height: 100%;
  width: 90%;
  position: relative;
  left: 5%;
  display: flex;

  .left-side, .right-side{
    @include lyric-terminal-style(18px, normal);
    width: 60%;
    height: 100%;
    overflow-y: scroll;

    img {
      width: 40%;
    }

    &::-webkit-scrollbar-track
    {
    	background-color: transparent;
    }

    &::-webkit-scrollbar
    {
    	width: 12px;
    	background-color: transparent;
    }

    &::-webkit-scrollbar-thumb
    {
    	background-color: $primary-color;
    }
  }

  .left-side {
    width: 40%;
    p {
      font-weight: bold;

      &.selected {
        background-color: $primary-color;
        color: rgba(0, 0, 0, 1);
      }
    }
  }

  .divider {
    margin: 0 10px;
    width : 2px;
    background-color: $primary-color;
  }
}

.bar {
  &.out {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: $primary-color;
    width: 80%;
    height: 20px;
  }
  &.in {
    border: none;
    height: 100%;
    background-color: $primary-color;
  }
}
