<div *ngIf="contact" class="contacts-container">
<a *ngIf="contact.emailAddress" href="mailto:{{ contact.emailAddress }}" >
  <span class="contact email">{{ contact.emailAddress }}</span>
</a>
<a *ngIf="contact.mobilePhone" href="tel:{{ contact.mobilePhone }}" >
  <span class="contact phone">{{ contact.mobilePhone }}</span>
</a>
<a *ngIf="contact.linkedin" href="{{ contact.linkedin }}" >
  <span class="contact linkedin">{{ contact.linkedin }}</span>
</a>
<a *ngIf="contact.github" href="{{ contact.github }}" >
  <span class="contact github">{{ contact.github }}</span>
</a>
</div>
