<div class="header">
  <div class="">
    v0.2
  </div>
  <div class="">
    CURRICULUM VITAE
  </div>
  <button type="button" name="button">
    Contacto
  </button>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <button type="button" name="button" routerLink="/report" routerLinkActive="active">Ficha</button>
  <button type="button" name="button" routerLink="/studies"  routerLinkActive="active">Estudios</button>
  <button type="button" name="button" routerLink="/experience"  routerLinkActive="active">Experiencia</button>
  <button type="button" name="button" routerLink="/skills" routerLinkActive="active">Habilidades</button>
  <button type="button" name="button" routerLink="/papers" routerLinkActive="active">Publicaciones/<br>Ponencias</button>
  <button type="button" name="button">Otros</button>
</div>
