<div class="two-sides">
  <div class="left-side">
    <p *ngFor="let paper of papers;index as i" (mouseenter)="onMouseEnterIn(i)" (mouseleave)="onMouseLeaveFrom(i)" [ngClass]="{'selected': i == selected}">
      {{ paper.name }}
    </p>
  </div>
  <div class="divider">

  </div>
  <div class="right-side">
    <div *ngFor="let paper of papers;index as i">
      <div  *ngIf="i == selected">
        <p class="">
          {{ paper.authors }}
        </p>
        <p *ngIf="paper.conference" class="">
          {{ paper.conference }}
        </p>
        <p *ngIf="paper.code" class="">
          {{ paper.code }}
        </p>
        <p class="">
          {{ paper.description }}
        </p>
    </div>
  </div>
</div>
