<div class="two-sides">
  <div class="left-side">
    <p *ngFor="let paper of papers;index as i" (mouseenter)="onMouseEnterIn(i)" (mouseleave)="onMouseLeaveFrom(i)" [ngClass]="{'selected': i == selected}">
      {{ paper.title }}
    </p>
  </div>
  <div class="divider">

  </div>
  <div class="right-side">
    <div *ngFor="let paper of papers;index as i">
      <div  *ngIf="i == selected">
        <img *ngIf="paper.logo" src="{{ paper.logo }}" alt="">
        <p class="">
          {{ paper.school }}
        </p>
        <p *ngIf="paper.university" class="">
          {{ paper.university }}
        </p>
        <p class="">
          {{ paper.location }}
        </p>
        <img *ngIf="paper.map" src="{{ paper.map }}" alt="">
        <br>
        <p *ngFor="let extra of paper.extras">
          {{ extra }}
        </p>
    </div>
  </div>
</div>
